@import "../../vars.css";

.card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.imageContainer {
    width: 60%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.content {
    padding: 15px 0 0 0;
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-text);
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 10px;
    color: black;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.skill {
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 140px;
    background-color: #f5f5f7;
    color: #333;
    list-style: none;
    
}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.link {
    margin-top: 20px;
}

.linkText {
    text-decoration: none;
    color: #0073e6;
    font-weight: 600;
    transition: color 0.3s ease;
}

.linkText:hover {
    color: black;
}

/* Responsive adjustments */
@media screen and (max-width: 830px) {
    .imageContainer {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }

    .title {
        font-size: 18px;
    }

    .description {
        font-size: 14px;
    }
}

