@import "../../vars.css";

.container{
    position: relative;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: 300px;
}

.title{
    font-weight: 800;
    color: var(--color-secondary);
    text-align: left;
}

.content{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    align-items: center;
}

.profilePic{
    width: 20%;
    height: auto;
    border-radius: 10px;
    margin-right: 50px;
}

/* define floating animation */
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05)
    }
    100% {
        transform: scale(1);
    }
}

.aboutItems{
    color: var(--color--text);
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.aboutItemText{
    font-size: 17px;
    color: black;
}



@media screen and (max-width: 830px) {
    .container{
        background-color: transparent;
        padding-left: 5%;
        padding-right: 5%;
    }

    .content{
        flex-direction: column;
    }

    .title{
        text-align: center;
    }
    .profilePic{
        display: none;
    }

    .aboutItems{
        margin-top: 29px;
    }

    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }

    .aboutItemText{
        text-align: center;
    }
}
