@import "../../vars.css";

.container {
    position: relative;
    color: var(--color-text);
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 800;
    color: var(--color-secondary);
    padding-top: 80px;
    text-align: left;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.skill {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 140px;

}

.skill:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.skillImageWrapper {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skillTitle {
    font-size: 16px;
    font-weight: 500;
}

.history {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
}

.historyCard {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.historyCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.historyImage {
    width: 60%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.historyDetails {
    padding: 15px 0 0 0;
}

.historyDetails h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.historyDetails small {
    font-size: 14px;
    margin-bottom: 20px;
}

.historyDetails p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (max-width: 830px) {

    .container{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 275px;
    }
    
    .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .title{
        text-align: center;
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;

    }

    .history {
        grid-template-columns: 1fr;
    }
}
